
<router-outlet></router-outlet>

<div class="container">
  <br>
  <h2> Advantal Test - </h2>
  <br> 
	<div class="row">
		<div class="col-md-3"> 
			<label for="pick"> Choose : &nbsp;  </label>
      <select class="btn bb" [(ngModel)]="perSelect" > 
        <option value="" > Select Option </option>
        <option value="H" > Head </option>
        <option value="T" > Tail </option>
      </select>
		<br><br>
		    <button type="submit" class="btn btn-success" (click)="onSelect(perSelect)" >Submit</button>
		</div>
		<div class="col-md-3">
			Output is : <br>
      <div *ngFor="let f of data; let i = index">
        <p> {{f.a}} </p>
        <p> {{f.b}} </p>
        <p> {{f.c}} </p>
        <p> {{f.d}} </p>
      </div>
		</div>
		<div class="col-md-6"> </div>
	</div>
	
</div>
